/*
** #Release:2015.01.17
*/

* {margin: 0;padding: 0;}
p {margin-bottom: 1.5em;}
ul li.first {padding-top: 0;border-top: 0;}
ul {list-style: none;}
br.clearfix {clear: both;}
body {background:#DACFC9;font-size: 11pt;}
body, input {font-family: Arial, sans-serif;}
a:hover {color:#394554;text-decoration: none;}
a {color:#394554;text-decoration: none;border: none;}
.right{float:right}
::selection { background: #f6b36a; color:white; }
::-moz-selection { background: #f6b36a; color:white; }
/*
** CONTAINER
*/
.wrap {width: 100%;padding-top:30px;
height:auto !important;
height:100%;
min-height:100%;
position:relative;
}

.container {
color: black;margin-top: 70px;margin-left:auto;margin-right:auto;width:85%;
}

.footer {
height:100px;
min-width:-800px;
position:relative;
text-align:center;
bottom:-50px;
}
.empty{
height:200px;
}

/*
** LOGO
*/

#menu .logo{font-size:20px;}
#menu a.logoLink:hover{border-bottom:none!important}
.logoQuick{color:#7DB6B7;}
.logoOn{color:#474747;}
.logoPage{color:tomato}

/*
** MENU
*/

#sales{float:right;margin:0 30px}
#menu {width:85%;top:0px;left:7.5%;position:fixed;height:61px;opacity:0.84;z-index:1;min-width:282px}
#menu li {text-align:left;margin:0;}
#menu ul li{padding: 20px 10px;}
#menu ul li a {text-decoration: none;color: #333;padding: 17px 20px;width:100%;font-weight:bold;}
#menu ul li a:hover{font-weight:bold;padding:23px 20px;}
#menu li ul {margin-bottom:-10000px;list-style-type:none;}
#menu ul li a.right{float:right;} #menu ul li a.left{float:left;}
#mobile ul,#express li{display:none;}
#menu ul li.express:hover li,#menu ul li.express:focus li{display:block;}
input[type=checkbox] {position: absolute;top: -9999px;left: -9999px;}
#label{display:none;}
.responsive{float:left;padding: 0px 1%;}
.visible{display:none;}
/*
** PRICE TABLE
*/

.pricing-table ul{ 
    border-width: 1px; 
    border-style: solid; 
    border-color: #CCCCCC; 
    border-radius: 3px; 
    margin: 12px 2px 12px 0px; 
    width: 282px; 
    text-align: center; 
    list-style: none; 
    float: left; 
    padding: 0px; 
    background-color: #FFFFFF;
} 
.pricing-table ul li{ 
    padding: 5px; 
    background-color: #EFEFEF; 
    border-width: 2px; 
    border-color: #B83737; 
    border-radius: 0px; 
    border-bottom-width: 2px; 
    font-size: 14px; 
} 
.pricing-table li:nth-child(odd){ 
    background-color: #F7F7F7; 
} 
.pricing-table ul .heading{ 
    color: #FFFFFF; 
    background-color: #69717C; 
    font-size: 16px; 
} 
.pricing-table ul .price{ 
    font-size: 25px; 
} 
.pricing-table ul .action{ 
    font-size: 14px; 
    color: #2A6496; padding:0;
} 
.pricing-table ul .action a{ 
display:inline-block;width:89.2%;height:25px;margin:0;background:white;
padding-top:15px;font-size:17px;
} 

.pricing-table .action a:hover{ 
background:#69717C;
color:white;

} 
.feature{ 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
} /*увеличение прайса*/

.pricing-table .action a{ 
    border-color: #B83737; 
    border-width: 0px; 
    border-radius: 2px; 
    background-color: #EEEEEE; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    padding-left: 15px; 
    padding-right: 15px; 
    border-style: solid; 
    color: #000000; 
}

/*
**Skills
*/


.standline{background:#F9FBFA;width:100%;padding:10px 0;text-align:center;color:black;font-size:12px;border-bottom:solid 4px #6B737E}
.standtext{}



.skills{border:solid 1px #F9FBFA;display:inline-block;float:left;
margin:17px auto;width:385px;color:black;background:#E1E3E3;}

.row{margin:0 15px}
.skills .span5 {
	width:100%;
	text-align:left;
	padding:5px 0;
	font-style:bold;
}
.expand-bg {
	background: none repeat scroll 0 0 #EAEDF2;
	border-radius:0px;
	height: 16px;
	margin-bottom: 15px;
	position: relative;
	padding: 0 2px;

	}
.expand {
	border-radius: 0px;
	height: 4px;
	margin: 2px 0;
	padding: 4px 0 4px 5px;
	position: absolute;

	}
.skills .span5 h3 {
	font-size: 11.5px;
	line-height: 20px;
	font-weight:normal;
	text-transform:uppercase;
}
.skills .span5 h3 span {
	float:right;
}

.jqframe2,.ps2,.ang2,.csh2,.js2,.html2,.css2 {
	width:80%;
	background:#34495E;
	-moz-animation:css3 2s ease-out;
	-webkit-animation:css3 2s ease-out;
}


.skills span {
            -webkit-background-size: 30px 30px;
            -moz-background-size: 30px 30px;
            background-size: 30px 30px;			
			background-image: -webkit-gradient(linear, left top, right bottom,
								color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),
								color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),
								color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),
								to(transparent));
            background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                                transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                                transparent 75%, transparent);
            background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                                transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                                transparent 75%, transparent);
            background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                                transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                                transparent 75%, transparent);
            background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                                transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                                transparent 75%, transparent);
            background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                                transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                                transparent 75%, transparent);            
            
            -webkit-animation: animate-stripes 3s linear infinite;
            -moz-animation: animate-stripes 3s linear infinite;       		
		}
        
/*
**ЗАКАЗЫ
*/


.cutaway,.magazine,.exclusiv {
	/* width:100%; */
	background:#34495E;
	-moz-animation:css3 2s ease-out;
	-webkit-animation:css3 2s ease-out;
}

.cutaway {
	width:54%;
}

.magazine {
	width:3%;
}

.exclusiv {
	width:1%;
}



/*
**SEARCH
*/

#search{border: solid 4px #6B737E;padding-left: 29px;width: 100%;height: 45px;overflow: hidden;padding: 0px 4px 0px 30px;margin-left:0%;
background-image: url(../images/search.png);background-repeat: no-repeat;background-attachment: scroll;color:black;
background-position: 0px center;-webkit-transition: all .1s;-moz-transition: all .1s;transition: all .1s;}
#search:focus {width: 100%;border: 6px solid #6B737E;margin-left:0%;background-color: #6B737E;outline: none;color:white;}

/*
** TABLES
*/


.table {max-width: 100%;background-color: transparent;border-collapse: collapse;border-spacing: 0;}
.table {width: 100%;}
.table th img, .table td img {margin:-5px 0px -5px 0px;}
.table th,.table td {min-width:100px;padding:10px;width:auto;}
.table thead th {color: white;}
.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {border-top: 0;}
.table-hover tbody tr:hover td,.table-hover tbody tr:hover th { background-color: #f5f5f5;}
.table-hover tbody tr:hover td {background-color: #f5f5f5;}
.hidden tbody tr td:hover {background: #376092;color:#FFFFFF;font-weight:bold;}
.table-hover thead tr th {text-align:center;color: white;border-bottom:2px solid #373f4d;}
.table-hover tbody tr td{text-align:left;font-weight:bold;color:#222222;font-size:12px}

/*
** RESPECTIVE
*/

@media screen and (max-width: 980px) {.hidden{display:none;}.visible{display:block;}}
@media screen and (max-width: 600px) {
.symbol:after {content: "\2261";}}
@media screen and (max-width: 520px) {}
@media screen and (max-width: 480px) {}
@media screen and (max-width: 400px) {

}

/*
** CROSSBROWSER
*/

#Mozila{;} @-moz-document url-prefix() { #menu ul{ margin:0px 0 0 0;} #search{width: 97%;height: 25px;}#wrapper{width:97%} #search:focus {width: 97%;}}
#Chrome{;} @media all and (-webkit-min-device-pixel-ratio:0) {}
#Opera{;}  _:-o-prefocus, #Class {;}
#Safari{;}

/*
** THEME
*/

   
.manage {background:#525952}
.title{border-left:dashed 2px #F9FBFA;border-right:dashed 2px #F9FBFA;border-top:dashed 2px #F9FBFA;color:#F9FBFA;}
.table{background: #E1E3E3;color:black;font-style:bold;}
.table-hover thead tr th {color: #525952;background: #F9FBFA;}
.table tbody td{border-right:dashed 1px #F9FBFA;text-align:left;}
.table tbody td:first-child {border-left:solid 1px #F9FBFA }
.table tbody td:last-child {border-right:solid 1px #F9FBFA;}
.table thead th:last-child {border-right:solid 1px #F9FBFA;}
.table-hover tbody tr{border-top: solid 1px #F9FBFA;border-bottom: solid 1px #F9FBFA;}

#menu {background-color: #F9FBFA;border-bottom:4px solid #54606E;}
#menu ul li a:hover {border-bottom:8px solid #54606E;}


#Paganation{}

.navigation { text-align:center;width: 30%;margin:0 auto;border:solid 1px #394554!important;}
.navigation th:hover {font-weight: bold;background:white;color: #394554;}
.navigation th:hover a{font-weight: bold;background:white;color: #394554;}
.navigation th a{font-weight: bold;color: white;}
