    <!--Progress-->
    <div class="container skills left">
	  <div class="standline">ВЫПОЛНЯЕМ</div>
      <div class="row">
		<div class="span5">
          <h3>ВЕБ СТУДИЯ - QUICKONPAGE<!--  | Тариф:"Визитка" --><span>54%</span></h3>
          <div class="expand-bg"> <span class="expand cutaway"> &nbsp; </span> </div>
        </div>
      </div>
      <div class="row">
		<div class="span5">
          <h3>5 Звёзд | Тариф:"Интернет-Магазин"<span>4%</span></h3>
          <div class="expand-bg"> <span class="expand magazine"> &nbsp; </span> </div>
        </div>
      </div>
      <div class="row">
		<div class="span5">
          <h3>Гостиница | Тариф:"Эксклюзивный"<span>1%</span></h3>
          <div class="expand-bg"> <span class="expand exclusiv"> &nbsp; </span> </div>
        </div>
     </div>
	</div>
    <!--END: Progress-->
    <!--Progress-->
	
    <div class="skills">
	  <div class="standline">ПРИОСТАНОВЛЕНО</div>
      <div class="row">
		<div class="span5">
          <h3>ПРИЁМНАЯ КОМИССИЯ | Тариф:"Эксклюзивный"<span>54%</span></h3>
          <div class="expand-bg"> <span class="expand cutaway"> &nbsp; </span> </div>
        </div>
      </div>
      <div class="row">
		<div class="span5">
          <h3>ХАРД | Тариф:"Интернет-Магазин"<span>4%</span></h3>
          <div class="expand-bg"> <span class="expand magazine"> &nbsp; </span> </div>
        </div>
      </div>
      <div class="row">
		<div class="span5">
          <h3>Гостиница "ЗАРЯ"<!--  | Тариф:"Эксклюзивный" --><span>1%</span></h3>
          <div class="expand-bg"> <span class="expand exclusiv"> &nbsp; </span> </div>
        </div>
     </div></div>
    <div class="skills right">
	  <div class="standline">ОТМЕНЕНО</div>
      <div class="row">
		<div class="span5">
          <h3>ПРИЁМНАЯ КОМИССИЯ | Тариф:"Эксклюзивный"<span>54%</span></h3>
          <div class="expand-bg"> <span class="expand cutaway"> &nbsp; </span> </div>
        </div>
      </div>
      <div class="row">
		<div class="span5">
          <h3>ХАРД | Тариф:"Интернет-Магазин"<span>4%</span></h3>
          <div class="expand-bg"> <span class="expand magazine"> &nbsp; </span> </div>
        </div>
      </div>
      <div class="row">
		<div class="span5">
          <h3>Гостиница "ЗАРЯ" | Тариф:"Эксклюзивный"<span>1%</span></h3>
          <div class="expand-bg"> <span class="expand exclusiv"> &nbsp; </span> </div>
        </div>
     </div>
	</div>