    <!--Skills container-->
    <div class="skills">
	  <div class="standline">DESIGN</div>
      <div class="row">
        <div class="span5">
          <h3>HTML5 <span>80%</span></h3>
          <div class="expand-bg"> <span class="expand html2"> &nbsp; </span> </div>
        </div>
      </div>
      <div class="row">
		<div class="span5">
          <h3>CSS3 <span>80%</span></h3>
          <div class="expand-bg"> <span class="expand css2"> &nbsp; </span> </div>
        </div>
      </div>
	  
      <div class="row"><div class="span5">
          <h3>JavaScript <span>80%</span></h3>
          <div class="expand-bg"> <span class="expand js2"> &nbsp; </span> </div>
        </div>
      </div></div>
	  
    <div class="skills">
	  <div class="standline">PROGRAMMING</div>
	  	  <div class="row">
		<div class="span5">
          <h3>ASP.NET MVC5 ,C# <span>80%</span></h3>
          <div class="expand-bg"> <span class="expand csh2"> &nbsp; </span> </div>
        </div>
      </div>
	  
	  <div class="row">
		<div class="span5">
          <h3>JQUERY FRAMEWORK<span>80%</span></h3>
          <div class="expand-bg"> <span class="expand jqframe2"> &nbsp; </span> </div>
        </div>
      </div>
	  <div class="row">
        <div class="span5">
          <h3>ANGULAR.JS <span>80%</span></h3>
          <div class="expand-bg"> <span class="expand ang2"> &nbsp; </span> </div>
        </div>
      </div>
	</div>
	<div class="skills">
	  <div class="standline">ENGINNERING</div>
	  	  <div class="row">
		<div class="span5">
          <h3>GIT,SVN <span>80%</span></h3>
          <div class="expand-bg"> <span class="expand csh2"> &nbsp; </span> </div>
        </div>
      </div>
	  
	  <div class="row">
		<div class="span5">
          <h3>ENTITY FRAMEWORK<span>80%</span></h3>
          <div class="expand-bg"> <span class="expand jqframe2"> &nbsp; </span> </div>
        </div>
      </div>
	  <div class="row">
        <div class="span5">
          <h3>NUNIT,TESTING <span>80%</span></h3>
          <div class="expand-bg"> <span class="expand ang2"> &nbsp; </span> </div>
        </div>
      </div>
	</div>
    <!--END: Skills container-->
