<div id="menu">    <!--Navigation-->
				<input type="checkbox" id="respective"><a><label id="label" class="symbol" for="respective" onclick></label></a></input>
	    <ul class="left" >
                <li class="responsive"><a class="logoLink" href="/#/">
				<i class="logo logoQuick">QUICK</i><i class="logo logoOn">ON</i><i class="logo logoPage">PAGE</i></li>
				</a>
                <li class="responsive hidden"><a href="/#/resume">ПОРТФОЛИО</a></li>
                <li class="responsive hidden"><a href="/#/contacts">КОНТАКТЫ</a></li>
                <li class="responsive hidden"><a href="/#/skills">НАВЫКИ</a></li>
                <li class="responsive hidden"><a href="/#/progress">ЗАКАЗЫ</a></li>
                <li id="sales" class="responsive hidden"><a href="/#/price">$</a></li>
				<li id="sales" class="responsive visible"><a href="/#/price">=</a></li>
       </ul>
</div>