<!DOCTYPE HTML>
<html ng-app="comission">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link media="screen" rel="stylesheet" href="media/sheet.css">			
<link media="screen" rel="stylesheet" href="media/smoke.css" />			
<script type="text/javascript" src="scripts/library/jquery-1.8.3.js"></script>
<!-- <script type="text/javascript" src="scripts/livesearch.js"></script> -->
<title>Приёмная on-line</title>
</head>
<body>
<div id="wrapper">
<div id="menu">    <!--Navigation-->
				<input type="checkbox" id="respective" name="menu"><a><label id="label" class="symbol" for="respective" onclick></label></a></input>
	    <ul class="left" >
                <li class="responsive" ng-class="homeActive"><a href="/#/" ng-click="setActive('home')">HOME</a></li>
                <li class="responsive" ng-class="searchActive"><a href="/#/search" ng-click="setActive('search')">Комиссия</a></li>
                <li class="responsive" ng-class="contactActive"><a href="/#/contacts" ng-click="setActive('contact')">Контакт</a></li>
            <li id="settings" class="responsive"><a>Preview</a>
<!-- 				<ul class="themes">
				<li><a>Темы:</a></li>
				<li><a>Малина <input class="theme" value="malline" type="radio" name="malline"/></a></li>
				<li><a>Колибри <input class="theme" value="gr.blue" type="radio" name="malline"/></a></li>
				<li><a>Маникен <input class="theme" value="dr.blue" type="radio" name="malline"/></a></li>
				<li><a>Гроза <input class="theme" value="smoke" type="radio" name="malline"/></a></li>
				</ul>			
 -->			</li>
			<li id="mobile">
				<ul>
				<li><a href="/#/">Информация</a></li>
				<li><a href="/#/entrants">Управление</a></li>
				<li><a href="/#/search">Комиссия</a></li>
				<li><a href="#">Настройки</a></li>
				<li><a href="#">Контакт</a></li>
				<li><a href="#">Выход</a></li>
				</ul>
			</li>
       </ul>
</div>
<div id="content"><!--Контент-->
                <a href="/#/massing" style="float:right">+M</a>
                <a style="float:right">  |  </a>
                <a href="/#/adding" style="float:right">+1</a>
                <a style="float:right">  |  </a>
                <a href="/#/search" style="float:right">Поиск</a>
				<br />
				<br />
				<ul class="mass">
                        <li>+ Внесение 1 поступающего в картотеку +</li>
                </ul>
				<p/>
				<table class="table table-hover"  ng-controller="comission">
				<!-- <tbody>
                        <tr class="add">
                            <td>+ Массовое внесение поступающих в картотеку +</td>
                        </tr>
                </tbody> -->
				<thead>
                        <tr>
                            <th class="code">#</th>
                            <th>Ф.И.О</th>
                            <th class="special">Специальность</th>
                            <th>Город</th>
							<th class="marks">Аттестат</th>
							<th class="score">Егэ</th>
							<th class="group">№Группы</th>
							<th>Дата</th>
							<th>Статус</th>
                            <th class="manage">Mенеджер</th>
                        
						</tr>
				</thead><!--Заголовки-->

                <tbody 	id="update"><!--Поступающие-->
                        <tr ng-repeat="student in students | filter:search ">
                            <td class="center code">1</td>
                            <td>пусто</td>
                            <td class="special">пусто</td>
                            <td class="city">пусто</td>
                            <td class="center marks">пусто</td>
                            <td class="center score">пусто</td>
                            <td class="center group">пусто</td>
                            <td class="center date">пусто</td>
                            <td class="center">пусто</td>
                            <td class="center manage"><a href="#">ОБНОВИТЬ</a></td>
                        </tr>
						<tr ng-repeat="student in students | filter:search ">
                            <td class="center code">1</td>
                            <td>пусто</td>
                            <td class="special">пусто</td>
                            <td class="city">пусто</td>
                            <td class="center marks">пусто</td>
                            <td class="center score">пусто</td>
                            <td class="center group">пусто</td>
                            <td class="center date">пусто</td>
                            <td class="center">пусто</td>
                            <td class="center manage"><a href="#">ОБНОВИТЬ</a></td>
                        </tr>
						<tr ng-repeat="student in students | filter:search ">
                            <td class="center code">1</td>
                            <td>пусто</td>
                            <td class="special">пусто</td>
                            <td class="city">пусто</td>
                            <td class="center marks">пусто</td>
                            <td class="center score">пусто</td>
                            <td class="center group">пусто</td>
                            <td class="center date">пусто</td>
                            <td class="center">пусто</td>
                            <td class="center manage"><a href="#">ОБНОВИТЬ</a></td>
                        </tr>
						<tr ng-repeat="student in students | filter:search ">
                            <td class="center code">1</td>
                            <td>пусто</td>
                            <td class="special">пусто</td>
                            <td class="city">пусто</td>
                            <td class="center marks">пусто</td>
                            <td class="center score">пусто</td>
                            <td class="center group">пусто</td>
                            <td class="center date">пусто</td>
                            <td class="center">пусто</td>
                            <td class="center manage"><a href="#">ОБНОВИТЬ</a></td>
                        </tr>
						<tr ng-repeat="student in students | filter:search ">
                            <td class="center code">1</td>
                            <td>пусто</td>
                            <td class="special">пусто</td>
                            <td class="city">пусто</td>
                            <td class="center marks">пусто</td>
                            <td class="center score">пусто</td>
                            <td class="center group">пусто</td>
                            <td class="center date">пусто</td>
                            <td class="center">пусто</td>
                            <td class="center manage"><a href="#">ОБНОВИТЬ</a></td>
                        </tr>
						<tr ng-repeat="student in students | filter:search ">
                            <td class="center code">1</td>
                            <td>пусто</td>
                            <td class="special">пусто</td>
                            <td class="city">пусто</td>
                            <td class="center marks">пусто</td>
                            <td class="center score">пусто</td>
                            <td class="center group">пусто</td>
                            <td class="center date">пусто</td>
                            <td class="center">пусто</td>
                            <td class="center manage"><a href="#">ОБНОВИТЬ</a></td>
                        </tr>
						<tr ng-repeat="student in students | filter:search ">
                            <td class="center code">1</td>
                            <td>пусто</td>
                            <td class="special">пусто</td>
                            <td class="city">пусто</td>
                            <td class="center marks">пусто</td>
                            <td class="center score">пусто</td>
                            <td class="center group">пусто</td>
                            <td class="center date">пусто</td>
                            <td class="center">пусто</td>
                            <td class="center manage"><a href="#">ОБНОВИТЬ</a></td>
                        </tr>
						<tr ng-repeat="student in students | filter:search ">
                            <td class="center code">1</td>
                            <td>пусто</td>
                            <td class="special">пусто</td>
                            <td class="city">пусто</td>
                            <td class="center marks">пусто</td>
                            <td class="center score">пусто</td>
                            <td class="center group">пусто</td>
                            <td class="center date">пусто</td>
                            <td class="center">пусто</td>
                            <td class="center manage"><a href="#">ОБНОВИТЬ</a></td>
                        </tr>
						<tr ng-repeat="student in students | filter:search ">
                            <td class="center code">1</td>
                            <td>пусто</td>
                            <td class="special">пусто</td>
                            <td class="city">пусто</td>
                            <td class="center marks">пусто</td>
                            <td class="center score">пусто</td>
                            <td class="center group">пусто</td>
                            <td class="center date">пусто</td>
                            <td class="center">пусто</td>
                            <td class="center manage"><a href="#">ОБНОВИТЬ</a></td>
                        </tr>
						<tr ng-repeat="student in students | filter:search ">
                            <td class="center code">10</td>
                            <td>пусто</td>
                            <td class="special">пусто</td>
                            <td class="city">пусто</td>
                            <td class="center marks">пусто</td>
                            <td class="center score">пусто</td>
                            <td class="center group">пусто</td>
                            <td class="center date">пусто</td>
                            <td class="center">пусто</td>
                            <td class="center manage"><a href="#">ОБНОВИТЬ</a></td>
                        </tr>
				</tbody>
		</table>
		
		<table class="table table-hover"><!--Пагинатор-->
				<thead>
                        <tr class="navigation">
							<th><a href="#">ОБНОВИТЬ</a></th>
						</tr>
				</thead>
		</table>
		
		</div>
        </div>
<div id="footer">Комиссия © 2014</div>
</body>
</html>
